/NumberService/NumberService/.vs/NumberService/v15/*.suo
/Dokumente/~$Links.docx
/NumberService/.vs/NumberService/v15/*.suo
/Dokumente/~$I_Umsetzung2.docx
/NumberService/API/bin/Debug/netcoreapp3.1/Common.dll
/NumberService/API/bin/Debug/netcoreapp3.1/Common.pdb
/NumberService/API/bin/Debug/netcoreapp3.1/stylecop.json
/NumberService/API/bin/Debug/netcoreapp3.1/stylecop1.json
/NumberService/API/stylecop.json
/NumberService/API/stylecop1.json
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.Abstractions.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.Core.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authorization.Policy.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authorization.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Hosting.Abstractions.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Abstractions.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Extensions.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Features.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.Abstractions.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.Core.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.ResponseCaching.Abstractions.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Routing.Abstractions.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Routing.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.WebUtilities.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.Extensions.ObjectPool.dll
/NumberService/TestConsole/bin/Debug/netcoreapp3.1/Microsoft.Net.Http.Headers.dll
